body{
  background-color: #EEEEEE;
}
#container
{
  background-color: #38E60D;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header{
  background-color: #66CCFF;
  color: white;
  text-align: center;
}
#nav{
  width: 180px;
  float: left;
  background-color:#F7ECC5;
}
#main{
  width: 600px;
  height: 330px;
  height: 330px;
  float: right;
  background-color: #F5E4A7;
}
#footer{
  float: right;
  clear: right;

}
