body{
  background-color: #EEEEEE;
}
#container
{
 background-color:#bcade6;
  width: 800px;
  height: 1800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
}

#header{
  background-color: #ffdfa8;
  color: white;
  text-align: center;
  border: 1px solid grey;
}
#nav{
  width: 180px;
  border: 1px solid grey;
  background-color:#b7ffa8;
}
#main{
  width: 600px;
  
  float: right;
  background-color: #ffa8f3;
  border: 1px solid grey;
}
#bookings{
  width: 620px;
  float: right;
  clear: both;
  background-color:#ffa8f3;
  border: 1px solid grey;
}
#footer{
  float: right;
  clear: right;

}
