body{
  background-color: #EEEEEE;
}
#container
{
 background-color:#bcade6;
  width: 800px;
  height: 2400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  
}

#header{
  background-color: #fffca8;
  border: 1px solid grey;
  text-align: center;
}
#nav{
  width: 100px;
  border: 1px solid grey;
  background-color:#a8ffd0;
  
}
#main{
  width: 700px;
  float: right;
  background-color: #ffa8d6;
  border: 1px solid grey;
}
#bookings{
  width: 700px;
  float: right;
  clear: both;
  background-color:#ffa8d6;
  
  border: 1px solid grey;
}
#footer{
  float: right;
  clear: right;

}
